

<mat-toolbar>
  <nav class="header">
    <button *ngIf="userRole !== null" mat-stroked-button class="header-link" routerLink="/main/books" >
      Books
    </button>
    <button *ngIf="userRole !== null" mat-stroked-button class="header-link" routerLink="/main/listings" >
      Listings
    </button>
    <button *ngIf="userRole !== null" mat-stroked-button class="header-link" routerLink="/main/users" >
      Users
    </button>
    <span class="spacer"></span>

    <button *ngIf="userRole === 'user'" matTooltip="My favorites" mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon" color="warn">
      <mat-icon>favorite</mat-icon>
    </button>

    <button *ngIf="userRole !== null" (click)="onLogout()" mat-stroked-button class="header-link" color="warn">
      Log out
    </button>
  </nav>
</mat-toolbar>
