<mat-card *ngIf="listing">
  <mat-card-title>{{listing.category}}</mat-card-title>
  <mat-card-subtitle>{{listing.type}}</mat-card-subtitle>

  <mat-card-content>Job ID: {{listing.id}}</mat-card-content>
  <mat-card-content>{{listing.title}}</mat-card-content>
  <mat-card-content>{{listing.description}}</mat-card-content>

  <mat-card-actions class="actions">
    <button
      *ngIf="isAdmin"
      mat-button
      [routerLink]="['/main/listings', 'edit', listing.id ]"
    >
      Edit
    </button>

    <button
      *ngIf="isAdmin"
      mat-button
      (click)="onDelete()"
      color="warn"
    >
      Delete
    </button>

    <button
      *ngIf="isUser"
      mat-button
      matTooltipPosition="above"
      [color]="listing.applicantIds.includes(user?.id!) ? 'primary' : 'secondary' "
      (click)="onApply()"
    >
      {{listing.applicantIds.includes(user?.id!) ? "Revoke application" : "Apply" }}
    </button>

    <span class="spacer"></span>

    <button
      *ngIf="isUser && user?.liked?.includes(listing?.id || 0)"
      mat-icon-button
      [matBadge]="listing.likeCount"
      matBadgeColor="warn"
      matBadgeSize="small"
      matBadgePosition="before"
      matTooltipPosition="above"
      matTooltip="Remove from liked"
      (click)="onUnlike()"
      color="warn"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <button
      *ngIf="!user?.liked?.includes(listing?.id || 0)"
      [disabled]="!isUser"
      [matBadgeDisabled]="!isUser"
      mat-icon-button
      [matBadge]="listing.likeCount"
      matBadgeColor="warn"
      [matBadgeSize]=" isUser ? 'small' : 'medium'"
      matBadgePosition="before"
      matTooltipPosition="above"
      matTooltip="Add to liked"
      (click)="onLike()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
